body{
font-family: Arial;
background:#f5f5f5;
text-align:center;
margin:0;
}

header{
background:#111;
color:white;
padding:20px;
}

nav{
background:#333;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
padding:60px;
background:#e8f0ff;
}

.btn{
background:#0066ff;
color:white;
padding:12px 20px;
text-decoration:none;
border-radius:5px;
}

.features{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
width:200px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

#colorBox{
height:120px;
width:200px;
margin:20px auto;
background:red;
}

button{
padding:10px 20px;
margin:10px;
font-size:16px;
}
